<table>
	<thead>
			<tr>
					<th class="microagendapsv_col_month"><f:translate key="fecha" /></th>
					<th class="microagendapsv_col_hour"><f:translate key="hora" /></th>
					<th class="microagendapsv_col_place"><f:translate key="ciudad_pais" /></th>
					<th class="microagendapsv_col_info"><f:translate key="info" /></th>
					<th class="microagendapsv_col_gmap"><f:translate key="mapa" /></th>
					<th class="microagendapsv_col_ticket"><f:translate key="entradas" /></th>
			</tr>
	</thead>
	<tbody>
	<f:for each="{events}" as="event">
			<tr>
					<td>
					   <f:if condition="{f:translate(key:'formato_fecha')}">
					       <f:then>
					           <span class="microagendapsv_date"><f:format.date format="d">{event.eventDate}</f:format.date></span> <f:translate key="de" /> <span class="microagendapsv_month"><f:translate key="mes{event.eventDate -> f:format.date(format:'n')}" /></span>
					       </f:then>
					       <f:else>
					           <span class="microagendapsv_month"><f:format.date format="F">{event.eventDate}</f:format.date></span> <span class="microagendapsv_date"><f:format.date format="j">{event.eventDate}</f:format.date></span>
					       </f:else>
					   </f:if>
					   <span class="microagendapsv_year"><f:format.date format="Y">{event.eventDate}</f:format.date></span>
				    </td>
					<td>
                        <span class="microagendapsv_date">
                            <f:if condition="{event.withoutHour} != 1">
                                <f:then>
                                <f:format.date format="H:i">{event.eventDate}</f:format.date>
                                </f:then>
                            </f:if>
                        </span>
                    </td>
					<td>
							<span class="microagendapsv_place">{event.place}</span>
							<span class="microagendapsv_country">{event.country}</span>
					</td>
					<td><div class="microagendapsv_text"><f:format.html>{event.bodytext}</f:format.html></div></td>
					<td>
					   <f:if condition="{event.gmapLink}">
                            <f:then>
                            <f:link.external uri="{event.gmapLink}" class="microagendapsv_map" target="_blank">[+]</f:link.external>
                            </f:then>
                        </f:if>
					</td>
					<td>
					   <f:if condition="{event.ticketsLink}">
					       <f:then>
					       <f:link.external uri="{event.ticketsLink}" class="microagendapsv_ticket" target="_blank"><f:translate key="comprar" /></f:link.external>
					       </f:then>
					       <f:else>
					       <span class="microagendapsv_no_ticket"><f:translate key="sin_entradas" /></span>
					       </f:else>
					   </f:if>
					</td>
			</tr>
	</f:for>
	</tbody>
</table>
