<table>
	<thead>
			<tr>
					<th>Mes</th>
					<th>D&iacute;a/Hora</th>
					<th>Lugar</th>
					<th>Pa&iacute;s</th>
					<th>Mapa</th>
					<th>Entradas</th>
			</tr>
	</thead>
	<tbody>
	<f:for each="{events}" as="event">
			<tr>
					<td><f:format.date format="F">{event.eventDate}</f:format.date></td>
					<td><span class="microagenda_psv_date"><f:format.date format="d/m/Y H:i">{event.eventDate}</f:format.date></span></td>
					<td>
							<span class="microagenda_psv_place">{event.place}</span>
							<span class="microagenda_psv_text">{event.bodytext}</span>
					</td>
					<td>{event.country}</td>
					<td>{event.gmapLink}</td>
					<td>{event.ticketsLink}</td>
			</tr>
	</f:for>
	</tbody>
</table>