<table>
	<thead>
			<tr>
					<th class="microagenda_psv_col_month">Mes</th>
					<th class="microagenda_psv_col_date">D&iacute;a/Hora</th>
					<th class="microagenda_psv_col_place">Lugar</th>
					<th class="microagenda_psv_col_country">Pa&iacute;s</th>
					<th class="microagenda_psv_col_gmap">Mapa</th>
					<th class="microagenda_psv_col_ticket">Entradas</th>
			</tr>
	</thead>
	<tbody>
	<f:for each="{events}" as="event">
			<tr>
					<td><span class="microagenda_psv_month"><f:format.date format="F">{event.eventDate}</f:format.date></span></td>
					<td><span class="microagenda_psv_date"><f:format.date format="d/m/Y H:i">{event.eventDate}</f:format.date></span></td>
					<td>
							<span class="microagenda_psv_place">{event.place}</span>
							<div class="microagenda_psv_text">{event.bodytext}</div>
					</td>
					<td><span class="microagenda_psv_country">{event.country}</span></td>
					<td>
					   <f:if condition="{event.gmapLink}">
                            <f:then>
                            <f:link.external uri="{event.gmapLink}" class="microagenda_psv_map">Mapa</f:link.external>
                            </f:then>
                        </f:if>
					</td>
					<td>
					   <f:if condition="{event.ticketsLink}">
					       <f:then>
					       <f:link.external uri="{event.ticketsLink}" class="microagenda_psv_ticket">Comprar</f:link.external>
					       </f:then>
					       <f:else>
					       <span class="microagenda_psv_no_ticket">Sin entradas</span>
					       </f:else>
					   </f:if>
					</td>
			</tr>
	</f:for>
	</tbody>
</table>